<header id="masthead">
    <div class="container">
      <nav>
        <a href="/login">Login</a>
        <a href="/">Create</a>
        <a href="/mypage">My Page</a>
        
      </nav>
    </div>
  </header>
<h1>My Travel List</h1>

<ul>
  {{#each places_of_interest}}
    <li>
      <p>
        {{this.id}}. {{this.city}},{{this.state}}.{{recommendation}}

        <button data-placeid="{{this.id}}" class="delplace">Delete</button>
      </p>
    </li>
  {{/each}}
</ul>

