<header id="masthead">
    <div class="container">
      <nav>
        <a href="/login">Login</a>
        <a href="/">Create</a>
        <a href="/mypage">My Page</a>
        
      </nav>
    </div>
  </header>
<h1>My Travel List</h1>

<ul>
  {{#each places_of_interest}}
    <li>
      <p>
        {{this.id}}. {{this.city}},{{this.state}}.{{recommendation}}

        <button data-placeid="{{this.id}}" class="delplace">Delete</button>
      </p>
    </li>
  {{/each}}
</ul>


<style media="screen">
  li {
    height : 400px;
    width: 400px;
    color: rgb(55, 0, 255);
    background-color: purple;
    margin-bottom: 30px;
  }
</style>

<h1>My Saves for Traveling {{eater}}</h1>

<ul>
{{#each foods }}
  <li>{{lunch}}</li>
{{/each}}
</ul>
