{{!-- <header id="masthead">
    <div class="container">
      <nav>
        <a href="/login">Login</a>
        <a href="/">Create</a>
        <a href="/mypage">My Page</a>
        
      </nav>
    </div>
  </header>
<h1>My Travel List</h1>

<ul>
  {{#each places_of_interest}}
    <li>
      <p>
        {{this.id}}. {{this.city}},{{this.state}}.{{recommendation}}

        <button data-placeid="{{this.id}}" class="delplace">Delete</button>
      </p>
    </li>
  {{/each}}
</ul> --}}

<!-- Pass in data from server.js -->
<ul>
  {{#each places_of_interest}}
  	<li class="city">
  		<p><span class="label">ID:</span> {{this.id}}</p>
      <p><span class="label">Quote:</span> {{this.user_id}}</p>
      <p><span class="label">Author:</span> {{this.city}}</p>

      <button data-id="{{this.id}}" class="delquote">Delete</button>

      <a href="/{{this.id}}">Update this quote</a>
  	</li>
  {{/each}}
</ul>


<div class="row">
    <form class="col m12">
        {{!-- display All Favorites --}}
        <div class="col l6 form-group">
          SAVED PLACES HERE
            <ul> 
                {{#each cities}}
                    {{#unless selectCity}}
                        <div class="collection">
                            <span class="collection-item">{{city}}. {{country}}. {{category}}. {{recommendation}} </span> 
                        </div> 
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        {{!-- Selected City --}}
        <div class="col m6 form-group">
            <ul>
                {{#each cities}}
                    {{#if selectCity}}
                        <div class="collection">
                            <div class="collection-item">
                               <span>{{city}}. {{country}}. {{category}}. {{recommendation}} </span>
                            </div>
                        </div>                     
                    {{/if}}
                {{/each}}
            </ul> 
        </div>
    </form>
</div>
   
{{!-- adding a city --}}
<script>
    $(document).ready(function(){
       $(document).on('click',"#add",function(){
           console.log(this.value);
           var row = parseInt(this.value);
           $.post("/api/places_of_interest",{row},function(data,status){
                console.log('successful add' + data + status);
            })
       }) 
    //add a city 
     $(document).on('click',"#add",function(){
        var val =  $('#cityName').val().trim();
           console.log(val);
           $.post("/api/places_of_interest",{val},function(data,status){
                console.log('successful add!' + data + status);
            })
       }) 
    });
</script>

